h2 {
  font-size: 30px;
}

.container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 100px 200px 150px;
}

.item {
  box-sizing: border-box;
}

.input-field {
  box-sizing: border-box;
  width: 100%;
}
